

    {% extends "layout.html" %}
  {% block body %}





    <div class="container site-section">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <span class="text-primary">Design for the future</span>
          <h2 class="mb-4">The technology for the future generation</h2>
          <p>Music plays a very important role in human's daily life and in the modern advanced technologies,This Music player itself selects songs according to the current mood of the user</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6 mr-auto pr-lg-5">
              <div class="feature-3">
                <h3>Creative Technology</h3>
                <p></p>
              </div>
            </div>
            <div class="col-lg-6 ml-auto pl-lg-5">
              <div class="feature-3">
                <h3>World-class Quality</h3>
                <p>.</p>
              </div>
            </div>


            <div class="col-lg-6 mr-auto pr-lg-5">
              <div class="feature-3">
                <h3>Deep Resources</h3>
                <p></p>
              </div>
            </div>
            <div class="col-lg-6 ml-auto pl-lg-5">
              <div class="feature-3">
                <h3>World-class Quality</h3>
                <p>.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    
      {% endblock %}


    
   